[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "==2.2.9"
requests = "*"
psycopg2 = "==2.8.4"
django-decouple = "==2.1"
djangorestframework = "==3.10.2"
pillow = "*"
django-cors-headers = "*"
django-filter = "*"
redis="*"
celery="*"

[requires]
python_version = "3.6"
