<html style="font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fa {
        text-align: center;
        font-size: 30px;
        margin:20px;
        text-decoration: none;
        }
        .fa:hover {
        opacity: 0.8;
        }
        .button:hover {
        opacity: 0.8;
        }
    </style>
</head>
<body
    style="min-width: 320px; background-color: #FFFFFF; width: 100%; margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;">
    <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" align="left" valign="top"
        style="border-collapse: collapse; border-spacing: 0;">
        <tbody>
            <tr>
                <td align="center" valign="top" style="padding: 0;">
                    <table width="600" align="center" cellpadding="0" cellspacing="0"
                        style="border-collapse: collapse; border-spacing: 0; background-color: #F3F4F5; text-align: center;"
                        border="0" valign="top" bgcolor="#F3F4F5">
                        <tbody>
                            <tr>
                                <td style="padding: 0;">
                                    <div display="block"
                                        style="background-image: url(http://roboiitj.ml/django_media/uploads/email-banner.jpg); background-size: cover; position: static; overflow: inherit; padding: 3rem 3rem 0rem 3rem; display: block; color: #e6e6e6;">
                                        <h1>Robotics Club</h1>
                                        <h3>IIT Jodhpur</h3>
                                        <h5>The science of today is the technology of tomorrow....</h5>
                                        <br><br>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0;">
                                    <div display="block"
                                        style="position: static; border-radius: 0; overflow: inherit; padding: 0rem 3rem 0rem 3rem; display: block;">
                                        <span color="gray1" scale="1"
                                            style="color: #052D49; font-family: America, sans-serif; -webkit-letter-spacing: inherit; -moz-letter-spacing: inherit; -ms-letter-spacing: inherit; letter-spacing: inherit; margin: 0; opacity: 1; position: relative; text-align: inherit; text-transform: inherit; text-shadow: none; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); -webkit-user-select: inherit; -moz-user-select: inherit; -ms-user-select: inherit; user-select: inherit; font-size: 1rem; font-weight: 400; line-height: 1.5;">
                                            <div overflow="hidden"
                                                style="box-shadow: 0 2px 0 0 rgba(5, 45, 73, 0.06999999999999995); background-color: #FFFFFF; overflow: hidden;">
                                                <div display="block"
                                                    style="box-sizing: border-box; position: static; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); overflow: inherit; padding: 2rem 2rem 2rem 2rem;border-top: none; border-right: none; border-bottom: none; border-left: none; display: block;">
                                                    <div color="gray1" scale="1"
                                                        style="color: #052D49; font-family: America, sans-serif; -webkit-letter-spacing: inherit; -moz-letter-spacing: inherit; -ms-letter-spacing: inherit; letter-spacing: inherit; margin: 0; opacity: 1; position: relative; text-align:center; text-transform: inherit; text-shadow: none; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); -webkit-user-select: inherit; -moz-user-select: inherit; -ms-user-select: inherit; user-select: inherit; font-size: 1rem; font-weight: 400; line-height: 1.5;">
                                                        <span color="gray3" scale="1" size="2"
                                                            style="color: #4F687A;text-align:center;font-family: America, sans-serif; -webkit-letter-spacing: inherit; -moz-letter-spacing: inherit; -ms-letter-spacing: inherit; letter-spacing: inherit; margin: 0; opacity: 1; position: relative; text-align: inherit; text-transform: inherit; text-shadow: none; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); -webkit-user-select: inherit; -moz-user-select: inherit; -ms-user-select: inherit; user-select: inherit; font-size: 1.3090000000000002rem; font-weight: 400; line-height: 1.25;">
                                                            Team registered successfully!
                                                        </span>

                                                        <div display="block"
                                                            style="box-sizing: border-box; position: static; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); overflow: inherit; margin: 1.5rem 0rem 1.5rem 0rem; display: block;">
                                                            <br>Hi {{user}},<br>
                                                            <br>Share the code {{team}} with ur team members so that they could join in<br>
                                                            <br>All The best!!<br>
                                                        </div>
                                                    </div>
                                                    <a class="button" color="primary" type="button" href="https://roboticsiitj.in/thinkathon"
                                                    role="button" style="-webkit-backface-visibility: hidden; backface-visibility: hidden; background-color: #06CEE5; border: 2px solid #06CEE5; border-radius: 0; box-sizing: border-box; display: inline-block; font-weight: 700; padding: 1rem 1.5rem; position: relative; text-align: center; text-decoration: none; text-transform: uppercase; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; white-space: inherit; cursor: pointer; color: #FFFFFF; font-size: 1rem;">
                                                    <div style="visibility: visible;">Thinkathon 2021</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 0;">
                                    <div display="block"
                                        style="box-sizing: border-box; position: static; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); overflow: inherit; padding: 0rem 0rem 1.5rem 0rem; display: block;">
                                        <p color="gray3" scale="1"
                                            style="color: #4F687A; font-family: America, sans-serif; -webkit-letter-spacing: inherit; -moz-letter-spacing: inherit; -ms-letter-spacing: inherit; letter-spacing: inherit; opacity: 1; position: relative; text-align: inherit; text-transform: inherit; text-shadow: none; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); -webkit-user-select: inherit; -moz-user-select: inherit; -ms-user-select: inherit; user-select: inherit; font-size: 1rem; font-weight: 400; line-height: 1.5; margin: 0.5rem 0rem;">
                                            We would love hearing from you!</p>
                                        <p color="gray3" scale="1"
                                        style="color: #4F687A; font-family: America, sans-serif; -webkit-letter-spacing: inherit; -moz-letter-spacing: inherit; -ms-letter-spacing: inherit; letter-spacing: inherit; opacity: 1; position: relative; text-align: inherit; text-transform: inherit; text-shadow: none; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); -webkit-user-select: inherit; -moz-user-select: inherit; -ms-user-select: inherit; user-select: inherit; font-size: 1rem; font-weight: 400; line-height: 1.5; margin: 0.5rem 0rem;">Write to us at roboticswebd@gmail.com</p>
                                    </div>
                                    <img src="http://roboiitj.ml/django_media/uploads/robologo.jpg">
                                    <div display="block"
                                        style="box-sizing: border-box; position: static; -webkit-transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1); overflow: inherit; padding: 1rem 0rem 0rem 0rem; margin: 0rem 0rem 0rem 0rem; border-top: none; border-right: none; border-bottom: none; border-left: none; display: block;">
                                        <a style="color:  #3B5998;" href="https://www.facebook.com/robotics.iitj/"><img src="http://roboiitj.ml/django_media/uploads/fa-fb.png" style="text-align: center;font-size: 30px;margin:20px;text-decoration: none;"></i></a>
                                        <a style="color:  #bc2a8d;" href="https://www.instagram.com/roboticsiitj/"><img src="http://roboiitj.ml/django_media/uploads/fa-instagram.png" style="text-align: center;font-size: 30px;margin:20px;text-decoration: none;"></a>
                                        <a href="https://github.com/RoboticsClubIITJ"><img src="http://roboiitj.ml/django_media/uploads/fa-git.png" style="text-align: center;font-size: 30px;margin:20px;text-decoration: none;"></a>
                                        <a style="color:  #55ACEE;" href="https://www.linkedin.com/company/robotics-club-iit-jodhpur"><img src="http://roboiitj.ml/django_media/uploads/fa-linkedin.png" style="text-align: center;font-size: 30px;margin:20px;text-decoration: none;"></a>
                                    </div>
                                    </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
